.navbar-inverse {
    width: 100%;
}

nav {
    padding: 0 0;
}

#features img {
    margin: 0px 0px 20px;
}

#features {
    text-align: center;
}

#message {
    margin-bottom: 15px;
}

footer {
    background: #333;
    color: #eee;
    padding: 20px;
    font-size: 12px;
}

ul.unstyled {
    list-style: none;
    padding: 0px;
}

ul.unstyled li a {
    text-decoration: none;
}

ul.unstyled li a:hover {
    color: white;
}

#well3 {
    background: url(../../images/b2.jpg) no-repeat center;
    background-size: 1400px 400px;
}

#well3 .page-header {
    color: black;
}

#well3 small {
    color: black;
}

#well3 .lead {
    color: black;
}

body {
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    height: 100%;
    width: 100%;
}

.well .page-header {
    margin-top: 0px;
}

.well .page-header h1 {
    margin-top: 0px;
}

.container {

    font-family: 'Titillium Web', sans-serif;
}

#searchInput {
    width: 200px;
}

.navbar-brand {
    padding-top: 5px;
    padding-right: 7px;
    padding-left: 0px;
    padding-bottom: 7px;
}

.navbar-brand img {
    width: 115px;
    height: 40px;
}

#myCarousel {
    margin-top: 60px;
}

.carousel-caption {
    font-size: 24px;
}

.carousel-caption h4 {
    font-size: 32px;
}

#myCarousel .item {
    height: 400px;
}

#slide1 {
    background: url('../../images/india.jpg') top center no-repeat;
}

#slide2 {
    background: url('../../images/rajasthan_med.jpg') top center no-repeat;
}

#slide3 {
    background: url('../../images/medium.jpg') top center no-repeat;
}

.alert {
    margin-top: 20px;
    display: none;
}

.well {
    margin: 20px 0px;
}

#tab2 img {
    height: 450px;
    width: 550px;
    margin: 0 20px 10px 0;
}

#tab3 img {
    height: 450px;
    width: 550px;
    margin: 0 20px 10px 0;
}

#tab4 img {
    height: 450px;
    width: 550px;
    margin: 0 20px 10px 0;
}

#tab5 img {
    height: 450px;
    width: 550px;
    margin: 0 20px 10px 0;
}

#tab6 img {
    margin: 0 20px 10px 0;
}


.thumbnails {
    margin: 20px 0;
}

.thumbnail {
    position: relative;
}

.thumbnail h3 {
    font-size: 16px;
    margin: 0 0 10px;
    line-height: 20px;
}

.thumbnail img {
    width: 570px;
    height: 390px;
}

.thumbnail .price {
    font-size: 22px;
    position: absolute;
    top: -10px;
    right: -10px;
    padding: 10px;
}

.thumbnail .price .sup {
    font-weight: normal;
    font-size: 12px;
}

.thumbnail span.glyphicon {
    margin-right: 5px;
}

.mapbutton {
    width: 150px;
    margin-left: 220px;
}

@media (max-width: 480px) {
    .thumbnail .price {
        font-size: 10px;
    }
    .thumbnail .price .sup {
        font-size: 8px;
    }
    #slide1 {
        background: url('../../images/India_small_2.jpg') top center no-repeat;
        width: 100%;
    }

    #slide2 {
        background: url('../../images/rajasthan_small.jpg') top center no-repeat;
        width: 100%;
    }

    #slide3 {
        background: url('../../images/small.jpg') top center no-repeat;
        width: 100%;
    }
    .mobile {
        width: 100%;
    }
    #tab2 img {
        width: 100%;
        height: 200px;
    }
    #tab3 img {
        width: 100%;
        height: 200px;
    }
    #tab4 img {
        width: 100%;
        height: 200px;
    }
    #tab5 img {
        width: 100%;
        height: 200px;
    }
    #well4 img {
        width: 100%;
        height: 40px;
    }
}


@media (max-width: 768px) {

    #myCarousel .item {
        width: 100%;
        height: 310px;
    }
    .carousel-caption {
        font-size: 14px;
    }
    .carousel-caption h4 {
        font-size: 20px;
    }
    #slide1 {
        background: url('../../images/india.jpg') top center no-repeat;
    }

    #slide2 {
        background: url('../../images/rajasthan_med.jpg') top center no-repeat;
    }

    #slide3 {
        background: url('../../images/medium.jpg') top center no-repeat;
    }
    .mobile {
        width: 100%;
    }
    #tab2 img {
        width: 100%;
    }
    #tab3 img {
        width: 100%;
    }
    #tab4 img {
        width: 100%;
    }
    #tab5 img {
        width: 100%;
    }
    .panel img {
        width: 150px;
    }
    #well4 img {
        width: 100%;
        height: 200px;
    }
}


@media (min-width: 1200px) {

    #myCarousel .item {
        height: 500px;
    }
    #slide1 {
        background: url('../../images/indlarge.jpg') top center no-repeat;
    }

    #slide2 {
        background: url('../../images/rajasthan_large.jpg') top center no-repeat;
    }

    #slide3 {
        background: url('../../images/large.jpg') top center no-repeat;
    }
}